




/* property to hide hamburger button at full screen */
.nav-toggle {
    display: none;
}



/* Full screen nav bar styling */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1em;
}

.links li {
    display: block;
    padding: .5em;
    background: rgba(0, 0, 0, 0.367);
    transition: all .5s linear;
}

.links li a {
    text-decoration: none;
    color: white;
    /* transition: all .5s linear; */
}


/* media queries for mobile view */
@media screen and (max-width: 600px) {
    .links {
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        box-shadow: 0 3px 1px 1px rgba(128, 128, 128, 0.655);
        height: 0;
        overflow: hidden;
        transition: all .5s linear;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: rgba(0, 0, 0, 0.367);
        margin: 0;
        position: relative;
        /* flex-direction: row; */
    }

    .logo {
        color: #7ab2e2;
        padding-left: .2em;
    }

    .nav-toggle:active {
        transform: rotate(90deg);
    }

    .links li a {
        transition: all .5s linear;
    }

    .links li {
        padding: .5em;
        background: rgba(0, 0, 0, 0.367);
        transition: all .5s linear;
    }

    .links li a:hover,
    .links li a:focus,
    .links li a:active {
        padding-left: .5em;
        letter-spacing: 2px;
        color: #7ab2e2;
        transition: all .5s linear;
    }

    .nav-toggle {
        cursor: pointer;
        padding: .5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
        display: block;

    }

    button {
        border: none;
        background: transparent;
    }

    .fa-bars {
        color: #7ab2e2;
        font-size: 2.5em;
    }

        /* special class to be activated by js when hamburger button is clicked */
    .show-links {
        height: 8.5rem;
        overflow: hidden;
        transition: all .5s ease-out;
    }
}